
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

  @font-face {
    font-family: 'DINWeb-Bold';
    src: url('fonts/DINWeb-Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'DINWeb';
    src: url('fonts/DINWeb.woff') format('woff');
  }
  @font-face {
    font-family: 'DINWeb-BoldItalic';
    src: url('fonts/DINWeb-BoldItalic.woff') format('woff');
  }
    @font-face {
    font-family: 'DINWeb-Medium';
    src: url('fonts/DINWeb-Medium.woff') format('woff');
  }
    @font-face {
    font-family: 'DINWeb-MediumItalic';
    src: url('fonts/DINWeb-MediumItalic.woff') format('woff');
  }
  @font-face {
    font-family: 'DINWeb-Italic';
    src: url('fonts/DINWeb-Italic.woff') format('woff');
  }
 
 /* Logo styles */

 .large-image {
    display: block;
    width: 100%;
 }

 .brandassets-logo > li {
    float: left;
    margin-top: 50px;
    width: 50%;
 }

 #brand-color li {
    float: left;
    margin-top: 25px;
    width: 20%;
}

.hex-size {
  width: 195px;
  height: 220px;
}

.brand-color p {
  text-align: left;
  color: #FFFFFF;
  padding: 10px 0px;
}

.bottom-hexcontent p {
  color: #FFFFFF;
  text-align: left;
  padding: 10px 0px;
}
